<div class="flex">
  <div class={{this.classNames}} ...attributes>
    <div class="font-600 text-xs leading-6 uppercase text-white badge__text">
      {{#if this.hasFormattedValue}}
        {{this.formattedValue}}
      {{else}}
        {{yield}}
      {{/if}}
    </div>
  </div>
</div>
