<div class="flex">
  <div class={{this.classNames}} title={{yield}} ...attributes>
    <div class="font-600 text-xs leading-6 uppercase text-white badge__text">
      {{yield}}
    </div>
  </div>
</div>
