{{#component @tagName class="block capsize{{if @preventSelection ' select-none'}}"}}
  {{#if @truncate}}
    <span class="block truncate">{{yield}}</span>
  {{else}}
    {{yield}}
  {{/if}}
{{/component}}
