<button
  class={{this.componentClass}}
  type="button"
  ...attributes
  disabled={{this.disabled}}
  {{on "click" this.onclick}}
>
  <div class="ui-button__container">
    {{yield}}
  </div>
</button>