{{!-- {{page-title "Backpack" separator=" — "}} --}}

<div class="flex flex-col h-screen overflow-hidden font-sans antialiased text-gray-900 bg-gray-800">
  <header class="relative z-10 flex items-center justify-between flex-shrink-0 px-4 py-4 bg-gray-800 border-b border-grey-200 sm:px-6 lg:px-8">
    <div class="container">
      <LinkTo @route="index" class="font-semibold text-white hover:text-grey-100">Backpack</LinkTo>
    </div>
  </header>
  <main class="flex-1 px-4 sm:px-6 lg:px-8 overflow-auto bg-grey-50">
    <div class="container my-24">
      {{outlet}}
    </div>
  </main>
</div>
