{{!-- {{page-title "Badge"}} --}}

<h2 class="text-3xl tracking-tight font-extrabold text-gray-900">Badge</h2>

<div class="prose">
  <p>A "pill" shaped container for displaying various count values or grades.</p>
  <p>
    The block format of this component will naïvely display the contents in the
    badge style — truncated with an ellipsis at a maximum width — so use with
    care or things might look weird.
  </p>
  <p>
    Inline use requires the <code>value</code> argument, and is intended for use
    with numbers only. The supplied <code>value</code> is evaluated against the
    <code>max</code> property to determine the final formatted output.
  </p>
</div>
