{{page-title "Ember Components"}}

<Stack @spaceClass="space-y-8" as |Doc|>
  <Doc.Item>
    <Heading>
      Components
    </Heading>
  </Doc.Item>
  <Doc.Item>
    <div class="prose prose-lg">
      <h3 class="text-xl">
        <LinkTo @route="badge" class="">
          Badge
        </LinkTo>
      </h3>
      <h3 class="text-xl">
        <LinkTo @route="stack" class="">
          Stack
        </LinkTo>
      </h3>
      <h3 class="text-xl">
        <LinkTo @route="text" class="">
          Text
        </LinkTo>
      </h3>
    </div>
  </Doc.Item>
</Stack>