{{page-title "Ember Components"}}

<Stack @spaceClass="space-y-8" as |Doc|>
  <Doc.Item>
    <Heading>Components</Heading>
  </Doc.Item>
  <Doc.Item>
    <div class="prose prose-lg">
      <h2>Layout</h2>
      <h3>
        <LinkTo @route="stack">Stack</LinkTo>
      </h3>
      <h3>
        <LinkTo @route="text">Text</LinkTo>
      </h3>
    </div>
  </Doc.Item>
  <Doc.Item>
    <div class="prose prose-lg">
      <h2>Interface</h2>
      <h3>
        <LinkTo @route="badge">Badge</LinkTo>
      </h3>
    </div>
  </Doc.Item>
  <Doc.Item>
    <div class="prose prose-lg">
      <h2>Helpers</h2>
      <h3>
        <LinkTo @route="announcement">Announcement</LinkTo>
      </h3>
    </div>
  </Doc.Item>
</Stack>