{{!-- {{page-title "Ember Components"}} --}}

<h2 class="text-4xl tracking-tight font-black text-gray-900">
  Components
</h2>
<div class="prose prose-lg">
  <h3 class="text-xl">
    <LinkTo @route="badge" class="">
      Badge
    </LinkTo>
  </h3>
  <h3 class="text-xl">
    <LinkTo @route="stack" class="">
      Stack
    </LinkTo>
  </h3>
</div>