{{!-- {{page-title "Ember Components"}} --}}

<h2 class="text-3xl tracking-tight font-extrabold text-gray-900">Components</h2>
<div class="prose">
  <h3 class="text-xl">
    <LinkTo @route="badge" class="">
      Badge
    </LinkTo>
  </h3>
</div>
