{{page-title "Popover"}}

<Stack @spaceClass="space-y-8" as |Doc|>
  <Doc.Item>
    <Heading>Popover</Heading>
  </Doc.Item>
  <Doc.Item>
    <Popover as |popover|>
      <popover.Trigger
        class="text-white group bg-gray-700 px-3 py-2 rounded-md inline-flex items-center text-base font-medium hover:text-opacity-100 focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75"
      >Open popover</popover.Trigger>
      <popover.Panel
        class="absolute z-10 w-screen max-w-sm px-4 transform -translate-x-1/2 left-1/2 sm:px-0 lg:max-w-3xl"
      >
        <div
          class="overflow-hidden rounded-lg shadow-lg ring-1 ring-black ring-opacity-5"
        >
          <div class="relative grid gap-8 bg-white p-7 lg:grid-cols-2">
            Welcome to popover country.
          </div>
        </div>
      </popover.Panel>
    </Popover>
  </Doc.Item>
</Stack>