{{!-- {{page-title "Stack"}} --}}

<h2 class="text-4xl tracking-tight font-black text-gray-900">
  Stack
</h2>

<div class="prose prose-lg">
  <p>
    The most common white space on screen is between elements stacked
    vertically. Can also be used to
    <del>
      automatically
    </del>
    insert dividing lines between children. Dividers can be inserted at each
    individual
    <code>
      Stack.Item
    </code>
    sub-component.
  </p>
</div>
<div class="w-auto">
  <Stack @spaceClass="space-y-4" as |Stack|>
    <Stack.Item>
      <Placeholder class="h-16">
        Stack.Item
      </Placeholder>
    </Stack.Item>
    <Stack.Item @showDivider="true">
      <Placeholder class="h-16">
        Stack.Item @showDivider="true"
      </Placeholder>
    </Stack.Item>
    <Stack.Item>
      <Placeholder class="h-16">
        Stack.Item
      </Placeholder>
    </Stack.Item>
  </Stack>
</div>