{{page-title "Text"}}

<Stack @spaceClass="space-y-8" as |Doc|>
  <Doc.Item>
    <Heading>
      Text
    </Heading>
  </Doc.Item>
  <Doc.Item>
    <div class="prose prose-lg">
      <p>
        This is the text component
      </p>
    </div>
  </Doc.Item>
  <Doc.Item>
    <div class="max-w-4xl">
      <Text @tagName="p" @leadingClass="leading-6">
        The quick brown fox jumps over the lazy dog.
      </Text>
    </div>
  </Doc.Item>
</Stack>