<h2 class="text-4xl tracking-tight font-black text-gray-900">Text</h2>

<div class="prose prose-lg">
  <p>This is the text component</p>
  <Text @tagName="span">The quick brown fox jumps over the lazy dog.</Text>
</div>
