<div
  class="flex items-center justify-center bg-gray-100 ring-1 ring-gray-300 ring-inset"
  ...attributes
>
  <span class="font-mono text-xs font-medium text-gray-500">
    {{yield}}
  </span>
</div>