////
/// Typography variables
///
/// @group branding.variables
////

///
/// Medium screen baseline grid size
///
/// The default font-size is set based on this.
///
/// @see {mixin} showbie-global-styles
///
$baseline: 12px;
$baseline-lg: 14px;

///
/// Available font weights
///
$font-black: 900;
$font-heavy: 800;
$font-medium: 600;
$font-roman: 500;
$font-book: 400;
$font-light: 300;

///
/// Standard font sizes
///
$font-size-xsmall: 14px;
$font-size-small: 15px;
$font-size-normal: 17px;
$font-size-large: 18px;
$font-size-xlarge: 21px;
